/* stylelint-disable scss/at-rule-no-unknown */

@import '@freya/colors/basic.css';
@import '@freya/colors/windi/300.css';
@import '@freya/colors/windi/500.css';
@import '@freya/colors/windi/600.css';
@import '@freya/colors/windi/700.css';
@import '@freya/colors/windi/900.css';

:root {
  --plt-blue: #00050b;
}

@layer colors {
  @color white freya-color-white;
  @color black freya-color-black;

  @color sky freya-color-windi-sky-600; /* Section separator */
  @color blue freya-color-windi-blue-600; /* Generic separator */
  @color orange freya-color-windi-orange-600; /* Generic separator - Better to avoid NF confusion */
  @color pink freya-color-windi-pink-600; /* Humour */
  @color green freya-color-windi-green-600; /* Good practice or action */
  @color fuchsia freya-color-windi-fuchsia-600; /* Intro */
  @color amber freya-color-windi-amber-300; /* Question */
  @color red freya-color-windi-red-600; /* Bad practice or danger */
  @color gray freya-color-windi-gray-600; /* Secondary separator */

  @color light-blue freya-color-windi-blue-500;
  @color light-gray freya-color-windi-gray-300;
}
