:root {
  --pi-padding: 0.4--sp;
  --pi-font-montserrat:
    Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --pi-font-inter:
    Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --pi-font-bitter:
    Bitter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --pi-font-roboto-mono: 'Roboto Mono', ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  font-family: var(--pi-font-inter);
  font-weight: 300;
}

/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import '@./themes/common/theme.css';

.freya\@root {
  font-family: var(--pi-font-inter);
}

.freya\@slide {
  --pi-icon-size: 0.5--sp;
  padding: var(--pi-padding);
}

/* Components */
.theme\@callout {
  margin: 0;
  padding: 0.1--sp 1ch;
  background-color: var(--plt-blue);
  color: var(--freya-color-white);
  font-size: 35--pt;
  font-weight: 700;

  &.light {
    background-color: var(--freya-color-white);
    color: var(--plt-blue);
  }
}

.theme\@default {
  & > .image,
  & > .image-wrapper .image {
    margin-bottom: 8rem;
  }
}

.theme\@icon {
  color: var(--pi-icon-primary-color);

  & .path {
    &.primary {
      opacity: var(--pi-icon-primary-opacity);
      color: var(--pi-icon-primary-color);
    }

    &.secondary {
      opacity: var(--pi-icon-secondary-opacity);
      color: var(--pi-icon-secondary-color);
    }
  }
}

.theme\@item {
  & .icon,
  & .image,
  & .qr,
  & .index {
    &,
    &.horizontal {
      width: var(--pi-icon-size);
      height: var(--pi-icon-size);
      min-width: var(--pi-icon-size);
      min-height: var(--pi-icon-size);
    }

    &.width-auto {
      width: auto;
    }
  }

  & .icon {
    --pi-icon-primary-color: var(--freya-color-windi-blue-600);
    --pi-icon-secondary-color: var(--freya-color-windi-blue-600);
    --pi-icon-secondary-opacity: 70%;
  }

  & .index {
    color: var(--freya-color-windi-blue-600);
    font-family: var(--pi-font-bitter);
  }

  & .icon.horizontal,
  & .image.horizontal,
  & .qr.horizontal {
    --pi-icon-size: 1--sp;
  }

  & .index.horizontal {
    width: auto;
  }
}

.theme\@logo {
  position: absolute;
  z-index: 2;
  bottom: var(--pi-padding);
  right: var(--pi-padding);
  width: 0.5--sp;
}

.theme\@permalink {
  position: absolute;
  z-index: 10;
  top: var(--pi-padding);
  right: var(--pi-padding);
  width: 0.5--sp;
  padding: 0.05--sp;
  border-radius: 0.05--sp;
  color: var(--freya-color-black);

  &.white {
    color: var(--freya-color-white);
  }

  &.black {
    color: var(--freya-color-black);
  }

  &.black-with-bg {
    background-color: var(--freya-color-white);
    color: var(--freya-color-black);
  }

  & .code {
    color: inherit;
  }

  & .image {
    width: 0.35--sp;
    height: auto;
  }
}

.theme\@number {
  position: absolute;
  z-index: -1;
  bottom: -0.7--sp;
  left: 1--sp;
  color: var(--freya-color-windi-gray-300);
  font-size: 250--pt;
  font-weight: 800;
  line-height: 1em;
  vertical-align: baseline;
}

.theme\@slide-icon {
  --pi-icon-primary-color: var(--freya-color-windi-gray-300);
  position: absolute;
  z-index: -1;
  bottom: -0.7--sp;
  left: 1--sp;
  width: 3--sp;
  height: 3--sp;
  stroke-width: 0;
}

/* Layouts */
.theme\@half {
  display: grid;
  grid-template-areas: 'a b';
  grid-template-columns: 1fr 1fr;
  padding: 0;

  &.reverse {
    grid-template-areas: 'b a';
  }

  & > .contents {
    display: flex;
    flex-direction: column;
    grid-area: a;
    padding: var(--pi-padding);
  }

  & > .image {
    overflow: hidden;
    grid-area: b;
    width: 5--sp;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  & .subtitle {
    z-index: 1;
    text-align: justify;
  }
}

.theme\@image {
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;

  & > .contents {
    display: flex;
    flex: 1 1 0%;
    align-items: flex-end;
    padding: var(--pi-padding);
  }

  & .title {
    font-family: var(--pi-font-bitter);
  }

  & .subtitle {
    display: block;
    margin-top: 0.1--sp;
    font-size: 18--pt;
  }
}

.theme\@quote {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.dark {
    /* background-color: var(--freya-color-windi-blue-600); */
    background-color: var(--freya-color-windi-orange-600);
    color: var(--freya-color-white);
  }

  &.light {
    background-color: var(--freya-color-white);
    color: var(--freya-color-black);
  }

  &.bad {
    background-color: var(--freya-color-windi-red-600);
    color: var(--freya-color-white);
  }

  & .title {
    margin: 0;
  }

  & .background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  & > .contents {
    display: flex;
    z-index: 1;
    flex-direction: column;
    flex: 1 1 0%;
    justify-content: space-between;
  }

  & .quote {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    justify-content: center;
    margin: 0;

    & .sentence {
      display: block;
      max-width: 85%;
      font-family: var(--pi-font-bitter);
      font-weight: 700;
      font-style: italic;

      &.dark {
        color: var(--freya-color-white);
      }

      &.light {
        color: var(--freya-color-blue);
      }

      &.bad {
        color: var(--freya-color-white);
      }
    }

    & .author {
      font-size: 0.6em;
      font-weight: 700;

      &.dark {
        /* color: var(--freya-color-windi-amber-300); */
        color: var(--freya-color-black);
      }

      &.light {
        color: var(--freya-color-black);
      }

      &.bad {
        color: var(--freya-color-black);
      }
    }
  }

  & .icon {
    position: absolute;
    z-index: -1;
    width: 2.5--sp;
    height: 2.5--sp;

    &.primary {
      bottom: -0.2--sp;
      left: 2--sp;

      &.dark {
        /* --pi-icon-primary-color: var(--freya-color-windi-blue-500); */
        --pi-icon-primary-color: var(--freya-color-windi-orange-500);
      }

      &.light {
        --pi-icon-primary-color: var(--freya-color-windi-gray-300);
      }

      &.bad {
        --pi-icon-primary-color: var(--freya-color-windi-red-500);
      }
    }

    &.secondary {
      top: -0.4--sp;
      right: 2--sp;
      transform: rotate(180deg);

      &.dark {
        /* --pi-icon-primary-color: var(--freya-color-windi-blue-500); */
        --pi-icon-primary-color: var(--freya-color-windi-orange-500);
      }

      &.light {
        --pi-icon-primary-color: var(--freya-color-windi-gray-300);
      }

      &.bad {
        --pi-icon-primary-color: var(--freya-color-windi-red-500);
      }
    }
  }
}

.theme\@side {
  display: grid;
  grid-template-areas: 'a b';
  grid-template-columns: 1fr 1fr;
  padding: 0;

  &.with-highlight {
    grid-template-columns: 3fr 2fr;
  }

  & .primary {
    display: flex;
    flex-direction: column;
    grid-area: a;
    padding: var(--pi-padding);
  }

  & .secondary {
    display: flex;
    grid-area: b;
    align-items: center;
    justify-content: center;
    padding: var(--pi-padding);

    &.with-highlight {
      padding-left: var(--pi-padding);
    }
  }

  & .subtitle {
    z-index: 1;
    text-align: justify;
  }

  & .primary,
  & .secondary {
    & > .image {
      max-width: 4--sp;
      max-height: 4--sp;
    }
  }

  & .highlight {
    margin-bottom: 0;
    text-align: justify;
  }
}

.theme\@separator {
  display: grid;
  grid-template-areas: 'a b';
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0;

  &.reverse {
    grid-template-areas: 'b a';
  }

  &.no-image {
    grid-template-areas: 'a';
    grid-template-columns: 1fr;
  }

  & > .contents {
    display: flex;
    flex-direction: column;
    grid-area: a;
    padding: var(--pi-padding);

    &.reverse {
      flex-direction: column-reverse;
    }
  }

  & > .image {
    overflow: hidden;
    grid-area: b;
    width: 5--sp;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    &.troll {
      background-position: center;
      background-size: calc(min(85vh, 5--sp)) calc(min(85vh, 5--sp));
    }
  }

  & .icon {
    overflow: hidden;
    grid-area: b;
    width: 5--sp;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  & .title {
    margin-bottom: 0;
    font-family: var(--pi-font-bitter);
    font-size: 33--pt;
    font-weight: 700;

    &.reverse {
      margin-top: 0.4--sp;
    }
  }

  & .subtitle {
    z-index: 1;
    margin-top: 0.4--sp;
    margin-bottom: 0;
    text-align: justify;

    &.reverse {
      margin-top: 0;
    }
  }

  & .callout {
    position: absolute;
    display: block;
    z-index: 2;
    bottom: calc(var(--pi-padding));
    left: calc(61%);
    width: 2.8--sp;
    margin: 0;
    padding: 0.05--sp 1ch;
    background-color: var(--plt-blue);
    color: var(--freya-color-white);
    font-family: var(--pi-font-bitter);
    font-size: 20--pt;
    font-weight: 700;
    text-align: center;

    &.reverse {
      left: calc(11%);
    }

    &.light {
      background-color: var(--freya-color-white);
      color: var(--plt-blue);
    }
  }
}

.theme\@hero {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;

  & .title,
  & .subtitle {
    margin: 0;
    padding: 0;
    font-size: 150--pt;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
  }

  & .subtitle {
    margin-top: 0.4--sp;
  }

  & .small {
    & .title,
    & .subtitle {
      font-size: 80--pt;
    }
  }

  & .tiny {
    & .title,
    & .subtitle {
      font-size: 60--pt;
    }
  }
}

/* Special slides */
.theme\@cover {
  background-color: var(--plt-blue);
  color: var(--freya-color-white);

  & .corner {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    height: 75%;
  }

  & > .contents {
    display: flex;
    z-index: 1;
    flex-direction: column;
    flex: 1 1 0%;
    justify-content: space-between;
  }

  & .logo {
    display: flex;
    align-items: center;
    width: 50%;
    height: 60%;
    margin: 0 auto;

    &.no-branding {
      justify-content: center;
    }

    .wrapper:has(&) {
      display: flex;
      grid-area: e;
      justify-content: flex-end;
    }

    & .image {
      width: 2--sp;
      height: 2--sp;
    }

    & .text {
      margin-left: 1ch;
      color: var(--freya-color-white);
      font-family: var(--pi-font-montserrat);
      font-size: 24--pt;
      font-weight: 700;

      &:hover,
      &:active,
      &:visited {
        color: var(--freya-color-white);
      }
    }
  }

  & .header {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    justify-content: center;
    max-width: 10--sp;
    margin: 0 auto;
    text-align: center;

    & .title {
      display: block;
      margin-bottom: 0;
      font-family: var(--pi-font-montserrat);
      font-size: 30--pt;
      font-weight: 700;
    }

    & .author {
      grid-area: b;
      margin-top: 0.3--sp;
      margin-bottom: 0;
      font-family: var(--pi-font-montserrat);
      font-size: 16--pt;

      & .name {
        color: var(--freya-color-windi-amber-300);
        font-weight: 700;
      }

      & .description {
        display: block;
        margin-left: 0;
        font-weight: 400;
      }

      & .separator {
        display: inline-block;
        margin-left: 3ch;
      }
    }
  }

  & .qrs {
    --pi-icon-primary-color: var(--freya-color-black);
    position: absolute;
    display: flex;
    z-index: 10;
    flex-direction: column;
    row-gap: 0.4--sp;
    justify-items: center;
    top: var(--pi-padding);
    right: var(--pi-padding);

    & .qr {
      width: 1--sp;
      height: auto;
      text-align: center;

      & .code {
        padding: 0.05--sp;
        border-radius: 0.05--sp;
        background-color: var(--freya-color-white);
        color: var(--freya-color-black);
      }

      & .label {
        display: inline-block;
        margin-top: 0.1--sp;
        font-size: 10--pt;

        &,
        &:hover,
        &:visited {
          color: var(--freya-color-white);
        }

        &:hover {
          text-decoration-line: underline;
        }
      }

      & .image {
        width: 22%;
        height: auto;
      }
    }
  }
}

.theme\@hello {
  display: grid;
  grid-template-areas: 'a b' 'c b';
  grid-template-columns: 1fr 1fr;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  grid-template-rows: min-content 1fr;
  padding: 0;

  & .title {
    grid-area: a;
    margin-bottom: 0;
    padding: var(--pi-padding);
    padding-bottom: 0;
    font-weight: 400;

    & .name {
      font-weight: 800;
    }
  }

  & .location-wrapper {
    grid-area: b;
    width: 5--sp;
    height: 100%;
  }

  & .location {
    overflow: hidden;
    width: 100%;
    margin-left: 1px;
  }

  & > .contents {
    display: grid;
    grid-template-areas: 'a a a a' 'b c d e';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-rows: 1fr min-content;
    grid-area: c;
    align-self: center;
    justify-items: center;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    justify-self: center;
    height: 100%;
    padding-bottom: var(--pi-padding);
    padding-left: var(--pi-padding);
    padding-right: var(--pi-padding);

    & > .description {
      display: flex;
      flex-direction: column;
      grid-area: a;
      align-items: center;
      justify-content: center;
    }
  }

  & .logo {
    width: 1.5--sp;
  }

  & .roles-wrapper {
    margin-top: 1ch;
  }

  & .roles {
    display: inline-block;
    margin: 0 auto;
    line-height: 1.8em;

    & .item {
      grid-area: b;
      font-size: 12--pt;

      & .text {
        font-size: 10--pt;
      }
    }
  }

  & .role {
    &.company {
      display: inline-block;
      width: 1--sp;
      margin-right: 0.2--sp;
      color: var(--freya-color-windi-blue-600);
      font-weight: 800;
      text-align: right;

      &:hover,
      &:active,
      &:visited {
        color: var(--freya-color-windi-blue-600);
      }
    }

    &.description {
      font-weight: 400;
    }
  }

  & .social {
    align-items: center;
    width: 100%;
    min-height: 0;

    & .qr,
    & .icon {
      --pi-icon-size: 0.5--sp;
      --pi-icon-primary-color: var(--freya-color-black);
      --pi-icon-secondary-color: var(--freya-color-black);
    }

    & .text {
      font-family: var(--pi-font-roboto-mono);
      font-size: 10--pt;
      font-weight: 400;
    }

    & .link {
      font-size: 0.8em;
      font-weight: 700;

      &,
      &:visited {
        color: var(--freya-color-black);
      }
    }

    &.website {
      grid-area: b;
    }

    &.github {
      grid-area: c;
    }

    &.twitter {
      grid-area: d;
    }

    &.linkedin {
      grid-area: e;
    }
  }
}

.theme\@end {
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;

  & > .contents {
    display: flex;
    flex: 1 1 0%;
    align-items: flex-end;
    padding: var(--pi-padding);
  }

  & .title {
    font-family: var(--pi-font-bitter);
  }

  & .subtitle {
    display: block;
    margin-top: 0.1--sp;
    font-size: 18--pt;
  }

  & .footer {
    display: grid;
    grid-template-areas: 'a b e' 'c d e';
    grid-template-columns: min-content min-content 1fr;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-rows: 1fr 1fr;
    column-gap: 0.3--sp;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    row-gap: 0.03--sp;
    align-items: center;
    width: 100%;
    padding: 0.05--sp var(--pi-padding);
    background-color: var(--plt-blue);
    color: var(--freya-color-white);
    font-family: var(--pi-font-bitter);
    font-size: 12--pt;
    font-weight: 700;
  }

  & .social {
    font-weight: 400;
    line-height: 1.5em;
    white-space: nowrap;

    &,
    &:hover,
    &:active,
    &:visited {
      color: var(--freya-color-white);
    }

    &.highlight {
      font-weight: 700;
      cursor: pointer;

      &,
      &:hover,
      &:active,
      &:visited {
        color: var(--freya-color-windi-amber-300);
      }
    }
  }

  & .author:not(.multiple) {
    grid-area: a;
  }

  & .twitter:not(.multiple) {
    grid-area: b;
  }

  & .description {
    grid-area: c;
  }

  & .email {
    grid-area: d;
  }

  & .logo {
    display: flex;
    align-items: center;
    padding-left: var(--pi-padding);
    border-left: 2px solid var(--freya-color-windi-amber-300);

    .wrapper:has(&) {
      display: flex;
      grid-area: e;
      justify-content: flex-end;
    }

    & .image {
      height: 0.6--sp;
    }

    & .text {
      margin-left: 1ch;
      color: var(--freya-color-white);
      font-family: var(--pi-font-montserrat);
      font-size: 10--pt;
      font-weight: 700;

      &:hover,
      &:active,
      &:visited {
        color: var(--freya-color-white);
      }
    }
  }
}

/* Colors, leave at the end of theme@ to ensure they take precedence */
/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import '@theme/colors.css';

.theme\@width-auto {
  width: auto;
}

.theme\@block {
  display: block;
}

.theme\@align-center {
  text-align: center;
}

.theme\@mission-completed {
  --pi-icon-primary-color: var(--freya-color-windi-green-700);
  bottom: -0.02--sp;
  left: 1--sp;
  width: 2--sp;
  height: 2--sp;
  stroke-width: 0;
}

.theme\@qr {
  &.big {
    display: block;
    flex: 1;
    width: 2--sp;
    height: 2--sp;
    margin: 0 auto;
    margin-bottom: 0.2--sp;
  }

  &.footer {
    display: block;
    font-weight: 700;
    text-align: center;

    &.small {
      font-size: 0.9em;
    }
  }
}

.theme\@code.small {
  font-size: 0.5em;
}
