/* stylelint-disable-next-line selector-class-pattern */
.freya@ {
  &loading__text {
    display: block;
    color: var(--freya-color-white);
    font-weight: 300;
  }

  &code {
    z-index: 1;
    min-width: 3--sp;
    margin: 0;
    padding: 0.2--sp 0;
    border-radius: 0.05--sp;
    background-color: var(--dante-bg);
    color: var(--dante-fg);
    font-size: 0.6em;
    line-height: 1em;
    text-align: left;
    counter-increment: step 0;
    counter-reset: step;

    &__line {
      position: relative;
      display: inline-block;
      height: 1.3em;
      padding: 0.2rem 3ch 0.2rem 2ch;
      line-height: 1.3em;

      &,
      & span[style] {
        background-color: var(--dante-bg);
        color: var(--dante-fg);
      }

      &--not-highlighted {
        opacity: 0.5;
        width: 100%;
      }

      &--highlighted {
        width: 100%;
      }

      &-number {
        content: counter(step);
        display: inline-block;
        width: 3ch;
        margin-right: 3ch;
        color: #636d83;
        text-align: right;
        counter-increment: step;
      }
    }
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.theme@ {
  /* Components */
  &icon {
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    stroke: currentColor;
    stroke-width: 0;
    fill: currentColor;
  }

  &item {
    display: flex;
    z-index: 1;
    align-items: flex-start;
    min-height: 0.8--sp;

    &__icon,
    &__image,
    &__qr {
      display: inline;
      margin-top: 0.1em;
      margin-right: 0.2--sp;
    }

    &__icon {
      stroke-width: 0;
    }

    &__index {
      margin-right: 0.2--sp;
      font-size: 40--pt;
      font-weight: 700;
      line-height: 1;
      text-align: right;
    }

    &__text {
      display: flex;
      flex-direction: column;
      max-width: 7--sp;
      font-size: 12--pt;
    }

    &__title {
      max-width: 7--sp;
      margin-bottom: 0;
      font-size: 14--pt;
      font-weight: 700;
    }

    &--horizontal {
      flex-direction: column;
      flex: 1 1 0%;
      align-items: center;
      min-height: auto;
      text-align: center;
    }

    &__icon--horizontal,
    &__qr--horizontal {
      margin-top: 0;
      margin-bottom: 0.2--sp;
      margin-right: 0;
    }

    &__image--horizontal {
      width: auto;
      height: 1--sp;
      min-width: auto;
      min-height: 1--sp;
      margin-top: 0;
      margin-bottom: 0.2--sp;
      margin-right: 0;
    }

    &__index--horizontal {
      width: auto;
      height: auto;
      min-width: auto;
      min-height: auto;
      margin-top: 0;
      margin-bottom: 0.2--sp;
      margin-right: 0;
      font-size: 45--pt;
    }

    &__title--horizontal,
    &__text--horizontal {
      max-width: 3.5--sp;
    }

    &__spacer {
      width: 2px;
      height: 90%;
      background-color: rgb(212, 212, 212);
    }
  }

  &items {
    display: flex;

    &--horizontal {
      flex: 1 1 0%;
      align-items: center;

      &--with-gap {
        column-gap: 0.3--sp;
      }

      &--no-gap {
        column-gap: 0;
      }
    }

    &--vertical {
      flex-direction: column;

      &--with-gap {
        row-gap: 0.3--sp;
      }

      &--no-gap {
        row-gap: 0;
      }
    }

    &--grid {
      display: grid;
      flex: 1 1 0%;
      align-items: center;
      justify-content: center;

      &--default-template {
        grid-template-columns: 1fr 1fr;
      }

      &--default-gap {
        gap: 4ch;
      }

      &__wrapper {
        display: flex;
        flex: 1 1 0%;
        column-gap: 0.2--sp;
        align-items: center;
      }
    }
  }

  /* Layouts */
  &default {
    &__subtitle {
      z-index: 1;
      text-align: justify;
    }

    &__image-wrapper {
      display: flex;
      z-index: 1;
      flex: 1 1 0%;
      align-items: center;
      justify-content: center;
    }

    &__image {
      display: block;
      max-width: 8--sp;
      margin: 0 auto;

      &--with-content {
        max-height: 2.5--sp;
      }

      &--no-content {
        max-height: 3.5--sp;
      }
    }

    &__code {
      display: flex;
      z-index: 1;
      align-items: center;
      justify-content: center;
      height: 100%;
      min-width: 40%;
    }
  }

  &code {
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      min-width: 40%;
    }
  }

  /* Special slides */
  &cover {
    &__background {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &__contents {
      display: flex;
      z-index: 1;
      flex-direction: column;
      flex: 1 1 0%;
      justify-content: space-between;
    }

    &__logo {
      width: 2--sp;
    }

    &__header {
      display: flex;
      flex-direction: column;
      flex: 1 1 0%;
      justify-content: center;

      &__title {
        display: block;
        max-width: 6--sp;
        margin-bottom: 0;
        font-size: 35--pt;
        font-weight: 700;
      }

      &__author {
        grid-area: b;
        margin-top: 0.15--sp;
        margin-bottom: 0;
        font-size: 16--pt;

        &__name {
          font-weight: 700;
        }

        &__description {
          display: inline-block;
          margin-left: 1ch;
          font-weight: 400;
        }
      }
    }
  }
}
