/* stylelint-disable-next-line selector-class-pattern */
.talk@ {
  &quote {
    &__primary-icon {
      --pi-icon-primary-color: red;
    }

    &__secondary-icon {
      --pi-icon-primary-color: green;
    }
  }

  &grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1ch;
  }

  &line-not-highlighted {
    --dante-bg: red;
    opacity: 1;
  }

  &line-highlighted {
    --dante-bg: green;
  }

  &highlight {
    background-color: var(--pi-color-purple);
    color: var(--pi-color-white);
  }
}
