/* stylelint-disable-next-line selector-class-pattern */
.talk\@code {
  font-size: 0.45em;
}

.talk\@disabled {
  opacity: 0.2;
}

.talk\@disabled__icon {
  --pi-icon-primary-color: var(--freya-color-gray);
  opacity: 0.2;
}
