@import '@freya/normalize.css';
@import '@freya/reset.css';
@import '@freya/default.css';
@import '@theme/fonts';

html {
  @apply font-inter;
  @apply font-light;

  --nf-padding: 80px; /* 0.4sp */

  --nf-color-midnight: #000e38;
  --nf-color-midnight-80: #0c3d60;
  --nf-color-midnight-50: #526288;
  --nf-color-midnight-30: #97a1b8;
  --nf-color-midnight-10: #f4f8fa;
  --nf-color-green: #00e5a4;
  --nf-color-green-80: #33eaae;
  --nf-color-green-50: #78eec5;
  --nf-color-green-30: #b2f7e1;
  --nf-color-green-10: #e5fcf5;
  --nf-color-purple: #8950ff;
  --nf-color-purple-80: #a173ff;
  --nf-color-purple-50: #c4a7ff;
  --nf-color-purple-30: #dccaff;
  --nf-color-purple-10: #f3edff;
  --nf-color-blue: #166bff;
  --nf-color-blue-80: #4589ff;
  --nf-color-blue-50: #8ab5ff;
  --nf-color-blue-30: #b9d3ff;
  --nf-color-blue-10: #e8f0ff;
  /* Note: there are no grey and grey-50 in the official palette */
  --nf-color-grey-80: #454551;
  --nf-color-grey-30: #d9d9d9;
  --nf-color-grey-10: #eaebed;
}

body {
  @apply font-size-16pt;
}

h1,
h2,
h3 {
  @apply font-inter;
  @apply font-bold;
}

p,
h4,
h5,
h6 {
  @apply font-inter;
  @apply font-light;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply leading-snug;
}

strong,
code {
  @apply font-bold;
}

code,
pre {
  @apply font-fira-code;
  @apply font-100;
}

em {
  @apply font-bold;
  @apply not-italic;
  @apply text-nf-blue;
}

h1 {
  @apply font-extrabold;
  @apply mb-0_4sp;
  @apply font-size-25pt;
}

h4 {
  @apply font-size-15pt;
  @apply leading-normal;
  @apply mb-0_4sp;
}

a {
  @apply line-height-1;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  @apply text-nf-blue;
}

a:not([class]) {
  @apply font-bold;
}
