@import 'virtual:theme-fonts';
@import '@freya/normalize.css';
@import '@freya/reset.css';
@import '@freya/default.css';

html {
  @apply font-extralight;
  @apply font-lexend;
  --ct-color-nf-dark-grey: #272d3a;
  --ct-color-nf-light-grey: #f2f2f0;
  --ct-color-nf-darkest-blue: #130048;
  --ct-color-nf-brunch-pink: #fb7a9c;
  --ct-color-nf-midnight-blue: #194caa;
  --ct-color-nf-neon-blue: #2165e3;
  --ct-color-nf-orange-split: #ecb22e;
}

h1,
h2,
h3 {
  @apply font-poppins;
  @apply font-bold;
}

p,
h4,
h5,
h6 {
  @apply font-lexend;
  @apply font-extralight;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply leading-snug;
}

strong,
code {
  @apply font-bold;
}

code {
  @apply font-fira-code;
  @apply font-100;
}

em {
  @apply font-bold;
  @apply not-italic;
  @apply text-nf-brunch-pink;
}

h1 {
  @apply mb-0_4sp;
  @apply font-size-25pt;
  @apply after:content-empty;
  @apply after:relative;
  @apply after:block;
  @apply after:-bottom-0_1sp;
  @apply after:left-0;
  @apply after:w-1sp;
  @apply after:h-0_05sp;
  @apply after:bg-nf-brunch-pink;
}

h4 {
  @apply font-size-18pt;
  @apply leading-normal;
  @apply mb-0_4sp;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  @apply text-nf-neon-blue;
  @apply line-height-1;
  @apply line-height-1;
}

a:not([class]) {
  @apply font-bold;
}
