.talk\@download {
  &.title {
    font-size: 100--pt;
    text-align: center;
  }

  &.subtitle {
    font-size: 18--pt;
    text-align: center;
  }

  &.icon {
    height: 45%;
    fill: var(--freya-color-windi-green-700);
  }
}

.talk\@danger-banner {
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: var(--freya-color-windi-red-500);
  color: var(--freya-color-white);
  text-transform: uppercase;
}

.talk\@image.half {
  max-width: 50%;
}

.talk\@code {
  font-size: 1.5em;
}

.talk\@image.contents {
  align-items: center;
  margin-top: 2--sp;
}

.talk\@send-pr {
  background-color: var(--freya-color-black);
  background-position: center;
  background-size: contain;
}
