/* stylelint-disable-next-line selector-class-pattern */
.talk\@title {
  display: inline-block;
  margin-top: 10rem;
  font-size: 40--pt;
  font-weight: bold;
  line-height: 1.5em;
}

.talk\@author {
  display: inline-block;
  font-size: 20--pt;
}

.talk\@author__name {
  font-weight: bold;
}

.talk\@social {
  position: absolute;
  top: 64rem;
  font-weight: bold;
}

.talk\@social--first {
  left: 26rem;
}

.talk\@social--second {
  left: 86.5rem;
}

.talk\@social--third {
  left: 145rem;
}

.talk\@social,
.talk\@social:active,
.talk\@social:focus,
.talk\@social:hover {
  color: var(--freya-color-white);
}
