.talk\@terminology {
  left: 6--sp;
}

.talk\@icons-grid {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2ch;
}

.talk\@transform {
  justify-content: center;

  & .root {
    flex: initial;
  }

  & .image {
    width: auto;
    height: auto;
    max-width: 8--sp;
    max-height: 3--sp;
    margin-bottom: 0;
  }

  & .arrow {
    width: 1.5--sp;
    height: auto;
    margin: 0 1ch;
  }
}

.talk\@generation {
  &.vertical {
    align-items: center;

    & .root {
      flex: initial;
    }

    & .image {
      width: 3.5--sp;
      height: auto;
      margin-bottom: 0;
    }

    & .arrow {
      width: auto;
      height: 0.5--sp;
      min-width: auto;
      min-height: auto;
      margin: 1ch 0;
    }
  }

  &.horizontal {
    justify-content: center;

    & .root {
      flex: initial;
    }

    & .image {
      width: auto;
      height: 2--sp;
      margin-bottom: 0;
    }

    & .arrow {
      width: auto;
      height: 0.5--sp;
      min-width: auto;
      min-height: auto;
      margin: 0 1ch;
    }
  }
}

.talk\@problem-number {
  left: 4--sp;
}

.talk\@parsing {
  &.image {
    width: 3--sp;
    height: auto;
    max-width: none;
    max-height: none;
  }

  &.step {
    left: 0.1--sp;
  }
}

.talk\@problem.image {
  width: auto;
  height: 2--sp;
  max-width: none;
  max-height: none;
}

.talk\@logo {
  background-position: center;
  background-size: 3--sp 3--sp;

  &.auto {
    background-position: center;
    background-size: 3--sp auto;
  }
}

.talk\@vite {
  position: relative;
  flex: initial;
  height: 2--sp;
  margin-top: 4ch;

  & .esbuild {
    &.root {
      position: absolute;
      z-index: 1;
      top: 0.5--sp;
      left: 50%;
      margin-left: -1--sp;
    }

    &.image {
      width: 1--sp;
      height: 1--sp;
      margin-bottom: 0;
    }
  }

  & .vite {
    &.root {
      z-index: 2;
    }

    &.image {
      position: relative;
      width: 2--sp;
      height: 2--sp;
      margin-bottom: 0;
    }
  }

  & .rollup {
    &.root {
      position: absolute;
      z-index: 1;
      top: 0.5--sp;
      left: 50%;
    }

    &.image {
      width: 1--sp;
      height: 1--sp;
      margin-bottom: 0;
    }
  }
}
