/* stylelint-disable-next-line selector-class-pattern */
.talk\@code {
  font-size: 0.5em;
}

.talk\@example {
  display: flex;
  flex: 1;
  row-gap: 1ch;
  align-items: center;
  justify-content: center;
}

.talk\@example__from {
  flex: initial;
  padding: 0;
  font-size: 0.8em;
}

.talk\@example__arrow {
  flex: initial;
  min-height: auto;
}

.talk\@example__arrow__image {
  width: auto;
  height: 0.5--sp;
  min-width: auto;
  min-height: auto;
  margin-bottom: 0;
  margin-left: 1ch;
  margin-right: 1ch;
}

.talk\@example__to {
  flex: initial;
  font-size: 0.8em;
}

.talk\@performance {
  display: flex;
  flex: 1;
  row-gap: 1ch;
  align-items: center;
  font-size: 0.6em;
}

.talk\@performance__result {
  display: flex;
}
