/* stylelint-disable-next-line selector-class-pattern */
.talk@ {
  &romanization {
    color: var(--freya-color-windi-amber-300);
    font-size: 0.3em;
  }

  &separator__subtitle {
    color: var(--freya-color-windi-amber-300);
    font-family: var(--pi-font-bitter);
    font-size: 0.4em;
    font-weight: 700;

    &--finally {
      font-family: var(--pi-font-bitter);
      font-size: 1em;
      font-weight: 700;
    }
  }

  &principle-icon {
    left: auto;
    right: 2--sp;
    color: var(--freya-color-windi-blue-500);

    &--light {
      color: var(--freya-color-windi-gray-300);
    }
  }

  &chum-kiu {
    &__title {
      font-size: 1.5em;
    }

    &__subtitle {
      font-size: 0.7em;
    }
  }
}
