/* stylelint-disable-next-line selector-class-pattern */
.talk\@pet__name {
  color: var(--freya-color-windi-amber-300);
}

.talk\@game {
  flex-direction: column-reverse;
}

.talk\@game__subtitle {
  margin-bottom: 1ch;
  font-weight: 700;
}

.talk\@end--usual {
  font-size: 25--pt;
}

.talk\@end--real {
  font-size: 35--pt;
}

.talk\@end--real__subtitle {
  color: var(--freya-color-windi-amber-300);
  font-size: 25--pt;
}
