/* stylelint-disable-next-line selector-class-pattern */
.talk@ {
  &pet {
    &__name {
      color: var(--freya-color-windi-amber-300);
    }
  }

  &game {
    flex-direction: column-reverse;

    &__subtitle {
      margin-bottom: 1ch;
      font-weight: 700;
    }
  }

  &end {
    &--usual {
      font-size: 25--pt;
    }

    &--real {
      font-size: 35--pt;

      &__subtitle {
        color: var(--freya-color-windi-amber-300);
        font-size: 25--pt;
      }
    }
  }
}
